@media print {

  .masthead,
  .nav,
  .article-sidebar,
  .article-bottom,
  .article-sdn,
  footer {
    display: none !important;
  }

  .article-footnotes {
    display: block !important;
  }
  
  html, body{
    font-size: 100%; /* equivalent to 16px */
  }
  
  .article {
    display:block;
  }
  
  .article-hed {
    font-size: 2.0rem;
  }
}