/* Globals */
html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Inter', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#banner {
  background: #BEBCB5;
  color: #242424;
  height: 250px;
  overflow: hidden;
  position: absolute;
  user-select: none;
  visibility: hidden;
  width: 970px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Backgrounds */
#bg-wrap {
  height: 250px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 970px;
}
#bg-portraits {
  left: 0;
  position: absolute;
  top: 0;
  width: 970px;
}

#bg-portrait-wrap {
  height: 250px;
  left: 485px;
  overflow: hidden;
  position: absolute;
  transform-origin: right center;
  width: 242px;
}
#bg-portrait-04 {
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-79px, 0px);
  width: 321px;
}

/* Endframe */
#greyout {
  background: #242424;
  height: 250px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 970px;
}

#logo {
  left: 766px;
  position: absolute;
  top: 68px;
  transform: translate(-20px, 0px);
  visibility: hidden;
  width: 172px;
}

#end-hl {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 800;
  left: 40px;
  letter-spacing: -0.3px;
  line-height: 120%;
  position: absolute;
  top: 47px;
  transform: translate(-20px, 0px);
  visibility: hidden;
  white-space: nowrap;
}

#end-tl {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  left: 40px;
  letter-spacing: -0.3px;
  line-height: 130%;
  position: absolute;
  top: 109px;
  transform: translate(-20px, 0px);
  visibility: hidden;
  white-space: nowrap;
}

#end-cta {
  align-items: center;
  background: #FEEB29;
  border: 3px solid #242424;
  border-radius: 28px;
  box-sizing: border-box;
  color: #242424;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  height: 56px;
  left: 760px;
  justify-content: center;
  letter-spacing: -0.3px;
  position: absolute;
  top: 127px;
  transform: translate(-20px, 0px);
  visibility: hidden;
  white-space: nowrap;
  width: 185px;
}

#end-cta:focus {
  border: 3px solid #3F8DF3;
}

#click-tag {
  border: 1px solid #242424;
  box-sizing: border-box;
  cursor: pointer;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 970px;
}